body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    background: #00bcd4;
    border: none;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0097a7;
}

#result {
    margin-top: 30px;
}

#outputImage {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}
